{
  "presets": ["@babel/preset-env"],
  "assumptions": {
    "setPublicClassFields": true
  },
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "version": "2018-09",
        "decoratorsBeforeExport": true
      }
    ],
    ["@babel/plugin-transform-class-properties"],
    ["@babel/plugin-syntax-import-assertions"],
    ["@babel/plugin-transform-private-methods"]
  ]
}
